/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset done */

.sidebar {
   background-color: rgba(189, 195, 199, .9);
	display: block;
	top: 0;
	left: 0;
   width: 15rem;
   height: 100%;
	position: fixed;
	z-index: 10;
	box-sizing: border-box;
	overflow: scroll;
}
.sidebar .close {
	position: absolute !important;
	right: 1rem;
	top: 1rem;
}
.content {
	top: 4rem;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 1rem;
}
.content img{
	position: relative;
	width: 75%;
	height: 75%;
}
form {
	width: 100%;
}

form span {
	padding: 0 .5rem;
}

form span a {
	font-size: 20px;
	font-weight: 800;
	cursor: pointer;
}

form .form-group {
	width: 15%;
	margin-bottom: 0;
}

form .delete{
	height: fit-content;
	color: white !important;
}

.button {
	margin-top: 4rem;
	margin-bottom: 2rem;
}
.button button{
	margin: 5px;
}
.pop {
	background-color: rgba(0,0,0,.8);
	position: fixed;
	z-index: 11;
	width: 100%;
	height: 100%;
}
.popClose {
	position: absolute;
	top: .5rem;
	right: .5rem;
	font-weight: 700 !important;
	font-size: 18px !important;
}
.resize {
	flex: 0 0 73% !important;
}
.popup {
	position: relative;
	top: 20%;
	margin-top: 3rem;
}
.pop .popContent {
	margin: auto;
	width: 65%;
	padding: 1rem;
	background-color: white;
	box-shadow: 2px 2px 10px darkgrey;
	position: relative;
	z-index: 12;
	top: 9rem;
}

.sumsum {
	background-image: url(../img/spikes.png);
}
.summary {
	overflow-y: scroll;
}
.summary p {
	font-weight: 800;
	font-size: 18px;
	color: grey;
	margin-bottom:0;
}
.summary .summary-item .nama {
	padding-left: .5rem;
	display: block;
	font-size: 15px;
	font-weight: bold;
}
.summary .summary-item .qty {
	padding-left: .8rem;
	box-sizing: border-box;
}
.summary .summary-item .harga {
	margin-left: 2.3rem;
	box-sizing: border-box;
}
.total-price {
	margin-top: 1rem;
	padding-left: 0;
	font-weight: bold;
	font-size: 16px;
}
/*  */
